{%extends 'base.html'%}
{%block content%}
<h2>Create Poll</h2>
<script text = 'text/javascript'>
    $(function() {
        $('.refresh').formset({
            prefix: '{{ form_resposta.prefix }}',
            addText: 'Add Answer',
            deleteText: 'Remove'
    });
    });
</script>
<form action="{%url 'create'%}" method="post">{%csrf_token%}
        <div id="create">
        {%if erro == True%}
        <p class = 'erro'>*Fill in at least one answer field*</p>
        {%endif%}
        <p>Question: {{form_pergunta.texto_pergunta}}</p>
        {{form_resposta.management_form}}

        {%for form_resp in form_resposta %}
        <div class="refresh">
        {{form_resp}}
        </div>
        {%endfor%} <br>
    <input type = 'submit' value="Create Poll" name = 'create_poll' id ='botaocriar'>
</div>
</form>

{%endblock content%}