{%extends 'base.html'%}
{%block home%}
{%block content%}
<h1 id = 'questionhome'>Created Polls</h1>
<form action="{%url 'home'%}" method="POST">{%csrf_token%}
<div id = "searchbar"><input type="text" name = 'pergunta_procurada' id = 'barrapesquisa'><input type="submit" name = 'procurar' value = 'Search Poll' id = botaoprocurar></div>
</form>
<div id = "homequery">
{%for p in perguntas%}
    <ul>
    <li class = "rowitem"><span class = 'rowitem'>{{p.texto_pergunta}}</span><a class = 'vote' href="{%url 'vote' p.pk%}">Vote</a>  <a class = 'resultados' href="{%url 'result' p.pk%}">Results</a></li>
    </ul>
{%endfor%}
</div>
<div id = 'paginasdiv'>
{%for pagina in paginas%}
<a class = 'paginas' href="{%url 'home_pagina' pagina%}" name = 'pagina'>{{pagina}}</a>
{%endfor%}
</div>
{%endblock content%}
{%endblock home%}