{%extends 'base.html'%}

{%block content%}
<h1 class = "logo">Poll</h1>
<div id = "vote">
{%for c in pergunta%}
<h2 class = 'question'>Question: {{c.texto_pergunta}}</h2>
{%endfor%}
<form action="" method="post">
{%csrf_token%}
{%for c in respostas%}
<ul>
    <div class = 'respvoto'>
    <li>Answer {{forloop.counter}} : <span class = "alternativa">{{c.texto_resposta}}</span> <input type="radio" value="{{c.pk}}" name = 'respostas'> </li>
    </div>
</ul>
{%endfor%}
<input type='submit' value="Vote" name = 'Votar' id= "botaovotar" >
</form>
</div>
{%endblock content%}