{%extends 'base.html'%}
{%load social_share%}
{%block content%}
<div id = "vote">
{%for c in pergunta%}
<h2 class = 'question'>Question: {{c.texto_pergunta}}</h2>
{%endfor%}
<form action="" method="post">
{%csrf_token%}
{%for c in respostas%}
<ul>
    <div class = 'respvoto'>
    <li class = 'respvotoitem'><input type="radio" value="{{c.pk}}" name = 'respostas'> <span class = "alternativa">{{c.texto_resposta}}</span> </li>
    </div>
    
</ul>
{%endfor%}
<span id = 'sharespan'><input type='submit' value="Vote" name = 'Votar' id= "botaovotar">{% copy_to_clipboard object_or_url "Copy Link" "copylink" %} 
    {%for c in pergunta%}
    <a class = 'resultados' href="{%url 'result' c.pk%}">Results</a></span>
    {%endfor%}
    {% add_copy_script %}
</form>
</div>
{%endblock content%}