@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
:root{
    --bluedark : #312C52;
    --navy: #604BEB;
    --navyligh: #7E71D1;
    --navydark: #0E0357;
    --grayblue: #5F559E;


}


header#cabecalho{
    background-color: var(--grayblue);
    margin: auto;
    max-width: 800px;
    min-width: 300px;
    box-shadow: 5px 6px 10px black;

}

header#cabecalho > nav > a{
    display: inline-block;
    margin-left: 30px;
    text-decoration: none;
    color: black;
    font-family: 'Oleo Script', cursive;
    font-size: 20px;
    
}
header#cabecalho > nav > a#menucreate:hover{
    background-color: var(--bluedark);
    margin-left: 20px;
    padding: 20px 10px;
    transition: 0.4s;
    border-radius: 20px;
}


body{
    background-color: var(--navyligh);
    font-family: 'Oleo Script', sans-serif;
    font-weight: lighter;
}
a{
    text-decoration: none;
    color: black;
}

main#conteudo{
    background-color: var(--grayblue);
    margin: auto;
    max-width: 800px;
    min-width: 300px;
    box-shadow: 5px 6px 10px black;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}
main#conteudo > ul{
    list-style: none;
}
main#conteudo > form > ul{
    list-style: none;
}
main#conteudo > form{
    text-align: center;
}

main#conteudo > h1#questionhome{
    font-family: 'Oleo Script', cursive;
    font-weight: lighter;
    font-size: 30px;
    
}
#searchbar{
    text-align: center;
    margin-bottom: 30px;
    
}
#botaoprocurar{
    background-color: #0E0357;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 5px;
    font-family: 'Oleo Script', cursive;
    font-size: 20px;
    border-radius: 20px;
}
#botaoprocurar:hover{
    text-decoration: underline;
    background-color: var(--navyligh);
    transition: 0.5s;
}
#barrapesquisa{
    padding: 10px 20px;
    font-size: 20px;
    
}
#homequery{
    text-align: left;
   
}
#homequery{
    text-align: center;
    
}
#homequery > ul> li{
    text-align: left;
    list-style: none;
}
.vote{
    background-color: #0E0357;
    border: none;
    color: white;
    padding: 6px 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 20px;
}
.vote:hover{
    text-decoration: underline;
    background-color: var(--navyligh);
    transition: 0.5s;
}
.paginas{
    padding-right: 10px;
    background-color: #0E0357;
    border: none;
    border-radius: 100em;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
}
.paginas:hover{
    text-decoration: underline;
    background-color: var(--navyligh);
    transition: 0.5s;
}
#paginasdiv{
    margin-top: 50px;
}
.itens{
    font-size: 20px;
}
.itens:hover{
    text-decoration: underline;
}
.resultados{
    background-color: #0E0357;
    border: none;
    color: white;
    padding: 6px 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 20px;
}
.resultados:hover{
    text-decoration: underline;
    background-color: var(--navyligh);
    transition: 0.5s;
}
.rowitem{
    margin-bottom: 25px;
}
span.rowitem{
    font-size: 20px;
}
#vote{
    text-align: center;
    margin-left: 30px;
    
}

.alternativa{
    font-style:italic;
    font-weight: bold;
    font-size: 20px;
    
    
}
.respvoto{
    list-style: none;
}
.respvotoitem{
    font-size: 20px;
    text-align: left;
}


h1.logo{
    font-family: 'Oleo Script', cursive;
    text-align: center;
    font-size: 30px;
}
main#conteudo > h1.logo{
    font-family: 'Oleo Script', cursive;
    font-weight: lighter;
    font-size: 35px;
}
div#create > p{
    margin-right: 55px;
    margin-bottom: 30px;
}
.refresh.dynamic-form{
    margin-bottom: 10px;
}
.refresh.dynamic-form > a{
    color: blue;
    
}
.refresh.dynamic-form > a:hover{
    text-decoration: underline;
    
}
.add-row{
    color: blue;
}
.add-row:hover{
    text-decoration: underline;
}

#botaovotar{
    background-color: #0E0357;
    border: none;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Oleo Script', cursive;
    font-size: 20px;
    border-radius: 20px;
    text-align: left;
}
#botaovotar:hover{
    text-decoration: underline;
    background-color: var(--navyligh);
    transition: 0.5s;
}

#botaocriar{
    background-color: #0E0357;
    border: none;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Oleo Script', cursive;
    font-size: 20px;
    border-radius: 20px;
}
#botaocriar:hover{
    text-decoration: underline;
    background-color: var(--navyligh);
    transition: 0.5s;
}
p.erro{
    font-family: 'Times New Roman', Times, serif;
    color: red;
    font-style: italic;
}
.social_media{
    width: 25px;
    display: inline-block;
}
.social_media:hover{
    width: 45px;
    transition: 0.4s;
}
div.whatsapp-this{
    display: inline-block;
    padding-right: 15px;
}

div.facebook-this{
    display: inline-block;
    padding-right: 15px;
}

div.tweet-this{
    display: inline-block;
}
div.share{
    display: inline-block;
    padding-left: 100px;
    
   
}
span#sharespan{
    margin-right: 10px;
    font-size: 20px;
    
}
